---
title: REST API Documentation

toc_footers:
  - © 2021 Wootric&nbsp; | &nbsp;Docs powered by <a href='http://github.com/tripit/slate'>Slate</a>

includes:
  - cxi/api_index
  - cxi/onboarding
  - cxi/projects
  - cxi/tags
  - cxi/imports
  - cxi/responses
  - cxi/exports
---
