---
title: Segment Documentation

toc_footers:
  - © 2018 Wootric&nbsp; | &nbsp;Docs powered by <a href='http://github.com/tripit/slate'>Slate</a>
---
<%= partial "includes/install_segment_intro" %>
